{
  "server": {{ item.value.server | default(ss_connection_default.server) | to_json }},
  "server_port": {{ item.value.server_port | default(ss_connection_default.server_port) | to_json }},
  "local_address": {{ item.value.local_address | default(ss_connection_default.local_address) | to_json }},
  "local_port": {{ item.value.local_port | default(ss_connection_default.local_port) | to_json }},
  "password": {{ item.value.password | default(ss_connection_default.password) | to_json }},
  "timeout": {{ item.value.timeout | default(ss_connection_default.timeout) | to_json }},
  "method": {{ item.value.method | default(ss_connection_default.method) | to_json }},
  "fast_open": {{ item.value.fast_open | default(ss_connection_default.fast_open) | to_json }},
  "ipv6_first": {{ item.value.ipv6_first | default(ss_connection_default.ipv6_first) | to_json }},
  "mode": {{ item.value.mode | default(ss_connection_default.mode) | to_json }}
}
